.major{
  font-size: 16px;
  color: $light-grey;
  font-weight: 400;
  text-transform: uppercase;
}
.form{
  position: relative;
  &.loading{
    fieldset{
      opacity: 0;
    }
    fieldset.loading{
      opacity: 1;
    }
  }
  fieldset{
    -webkit-appearance: none;
    border: 0;
    padding: 20px 10px;
    margin: 0;
    opacity: 1;
    transition: opacity 0.2s;
    &:last-child{
      margin-top: 30px;
    }
    &.loading{
      opacity: 0;
    }
    label{
      width: 180px;
      display: inline-block;
      font-size: 15px;
      color: $light-b1;
    }
    input{
      border: 0;
      border-bottom: 1px solid $light-grey;
      background: transparent;
      padding: 5px 0;
      outline: 0;
      color: $light-grey;
      font-size: 16px;
      width: 350px;
      &.half{
        width: 150px;
      }
    }
    span.text{
      min-width: 240px;
      margin-right: 20px;
      display: inline-block;
    }
    button.button{
      padding: 12px 15px;
      background: #62bea8;
      border-radius: 2px;
      border: 0;
      color: #ffffff;
      cursor: pointer;
      transition: background 0.3s;
      font-size: 14px;
      &:hover{
        background: #50A08A;
      }
      &:disabled, &.disabled{
        background: $grey;
        cursor: default;
        color: $light-grey;
      }
    }
    button.link{
      background: none;
      color: $blue;
      padding: 0;
      margin-right: 20px;
      cursor: pointer;
      &:hover{
        background: none;
      }
      &.red{
        color: $red;
        float: right;
      }
      &.disabled{
        background: none;
        color: $grey;
      }
    }
    .input-group{
      display: block;
      margin-left: 185px;
      margin-top: -20px;
      input{
        margin-bottom: 10px;
      }
    }
  }
}

.form.add-cloud-account{
  display: block;
  float: left;
  padding-top: 20px;
}
.account-instruction{
  margin-top: 20px;
  background: $bg-b2;
  display: block;
  margin-left:565px;
  padding: 20px;
  color: $light-b1;
  @media (max-width: 1170px) {
    margin-left: 0;
    float: left;
  }
  ol{
    counter-reset: ol-ins-counter;
    position: relative;
    padding-left: 50px;
    li{
      color: $text-grey;
      padding: 15px 0 0;
      list-style: none;
      &:before{
        content: counter(ol-ins-counter);
        counter-increment: ol-ins-counter;
        position: absolute;
        left: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #4D4F5E;
        border-radius: 50%;
        color: #FFF;
      }
    }

  }
}

hr.through{
  display: block;
  clear: both;
  border: 0;
  border-bottom: 1px solid $bg-b2;
  padding: 10px 0;
  margin: 0 -10px 0 -10px;
}
