@charset "UTF-8";

@import "color";
@import "type";
@import "helper";
@import "dashboard";
@import "log";
@import "icon/ionicons";
@import "component/panel";
@import "component/violation";
@import "component/ui";


/* TEMP: icon placeholder */

[class^="icon-"]:before {
  content        : "";
  width          : 16px;
  height         : 16px;
  border-radius  : 50%;
  display        : inline-block;
  background     : #ccc;
  margin-right   : 8px;
  vertical-align : middle;
}

/* Global */

html,
body {
	width      : 100%;
	height     : 100%;
	overflow   : hidden;
  margin     : 0;
  background : $bg-b;
  color      : $text-grey;

  @include font-major;

  * { box-sizing: border-box; }
}

h1,h2,h3,h4,h5,h6 { margin:0; }
ul { margin:0; padding:0;}

a {
  text-decoration : none;
  color           : $blue;
}

button {
  -webkit-appearance : none;
  border : none;
  background : black;
  color : #fff;
  outline : none;
}

ul {
  list-style : none;
  margin  : 0;
  padding : 0;
}

button {
  -webkit-appearance : none;
  border : none;
  background : black;
  color : #fff;
  outline : none;
}

.hidden {
  display : none;
}


#GlobalLoading {
  position      : absolute;
  width         : 100px;
  height        : 30px;
  border-radius : 4px;
  border        : 1px solid silver;
  left          : 50%;
  top           : 50%;
  margin-top    : -15px;
  margin-left   : -50px;

  &:after {
    content : "";
    display : block;
    width   : 100%;
    height  : 100%;

    background-image: linear-gradient(135deg,
      rgba(255,255,255,.15)25%,
      transparent 25%,
      transparent 50%,
      rgba(255,255,255,.15)50%,
      rgba(255,255,255,.15)75%,
      transparent 75%,
      transparent
    );
    background-size : 40px 40px;
    background-repeat : repeat;
    color : transparent;

    -webkit-animation: loading-stripes 2s linear infinite;
  }
}

@-webkit-keyframes loading-stripes {
    from { background-position: -120px 0 }
    to   { background-position: 0 0 }
}

.cloudfielder {
  width  : 100%;
  height : 100%;
}


/* Sidebar Navigation */

$topHeight: 50px;
$sideWidth: 180px;

#CFSidebar {
  width      : $sideWidth;
  height     : 100%;
  background : $light-b1;
  position   : absolute;
  left       : 0;
  top        : 0;

  .logo {
    height      : $topHeight;
    line-height : $topHeight;
    background  : $base-b;
    text-align  : center;
    color       : #FFF;
    .icon {
        font-size: 24px;
        margin-right: 10px;
        text-align: center;
        width: 30px;
    }
  }

  > a {
    line-height  : 44px;
    height       : 44px;
    display      : block;
    padding-left : 10px;
    color        : #eee;
    font-size    : 14px;
    position     : relative;

    @include transit($prop:all);

    &:hover {
      background : darken($light-b1, 20%);
      color       : #fff;
    }

    &.active:not(.ember-transitioning-out), &.ember-transitioning-in{
      background  : darken($light-b1,30%);
      box-shadow : inset 3px 0 0 0 darken($base-b,40%);
    }

    .alert-count {
      padding       : 0 5px;
      height        : 20px;
      line-height   : 18px;
      font-size     : 12px;
      background    : $red;
      border-radius : 3px;
      position      : absolute;
      right         : 8px;
      top           : 12px;
    }

    .icon {
        font-size: 24px;
        margin-right: 10px;
        float: left;
        text-align: center;
        width: 30px;
    }
  }
}

/* Work Area */

#CFWorkArea {
  margin-left : $sideWidth;
  height      : 100%;
  position    : relative;
  display     : flex;

  padding: 0 20px;
}

/* Section Header */

.workarea-header {
  width       : 100%;
  height      : $topHeight;
  line-height : $topHeight - 10px;
  padding     : 5px 20px;

  position    : absolute;
  top         : 0;
  left        : 0;

  display     : none;

  .header-title {
    font-weight: 400;
  }

  .header-user {
    position   : absolute;
    top        : 0;
    right      : 0;
    width      : 200px;
    background : yellow;
    font-size  : 13px;

    .user-menu {
      display: inline-block;
      width: 120px;
    }
  }
}
.workarea-loading {
  position      : absolute;
  width         : 100px;
  height        : 30px;
  border-radius : 4px;
  border        : 1px solid silver;
  left          : 50%;
  top           : 50%;
  margin-top    : -15px;
  margin-left   : -50px;

  &:after {
    content : "";
    display : block;
    width   : 100%;
    height  : 100%;

    background-image: linear-gradient(135deg,
      rgba(255,255,255,.15)25%,
      transparent 25%,
      transparent 50%,
      rgba(255,255,255,.15)50%,
      rgba(255,255,255,.15)75%,
      transparent 75%,
      transparent
    );
    background-size : 40px 40px;
    background-repeat : repeat;
    color : transparent;

    -webkit-animation: loading-stripes 2s linear infinite;
  }
}

.work-area-content {
  display   : flex;
  flex-wrap : wrap;

  position   : absolute;
  top        : 0;
  bottom     : 0;
  left       : 0;
  right      : 0;
  width      : 100%;
  overflow-y : auto;

  .rule-manager & {
    flex-direction : column;
  }
}

@import "rule";
@import "settings";
