/* Style for UI component */

/* Bubble and bubble popup */
#bubble-box {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #d4d4d4;
    color: #999;
    font-size: 12px;
    position: absolute;
    border-radius: 4px;
    z-index: 85;
    min-width: 250px;
    max-width: 400px;
    &.content {
        padding: 5px 10px;
    }
    &.arrow,
    &.arrow:after {
        display: block;
        width: 0;
        height: 0;
        border-color: rgba(0, 0, 0, 0);
        border-style: solid;
    }
    &.bubble-left .arrow {
        border-width: 11px;
        top: 50%;
        left: -11px;
        margin-top: -11px;
        border-right-color: #ccc;
        border-left-width: 0;
    }
    &.bubble-left .arrow:after {
        border-width: 10px;
        content: "";
        bottom: -10px;
        left: 1px;
        border-right-color: #fff;
        border-left-width: 0;
    }
    &.bubble-right .arrow {
        border-width: 11px;
        top: 50%;
        right: -11px;
        margin-top: -11px;
        border-left-color: #ccc;
        border-right-width: 0;
        position: absolute;
    }
    &.bubble-right .arrow:after {
        border-width: 10px;
        content: "";
        bottom: -10px;
        right: 1px;
        border-left-color: #fff;
        border-right-width: 0;
    }
    &.bubble-top .arrow {
        border-width: 11px;
        top: 50%;
        left: -11px;
        margin-top: -11px;
        border-right-color: #ccc;
        border-left-width: 0;
    }
    &.bubble-top .arrow:after {
        border-width: 10px;
        content: "";
        bottom: -10px;
        left: 1px;
        border-right-color: #fff;
        border-left-width: 0;
    }
    &.bubble-bottom .arrow {
        border-width: 11px;
        margin-top: -8px;
        z-index: -1;
        left: 50%;
        margin-left: -21px;
        border-left-color: #ccc;
        border-right-width: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 20px 20px;
        border-color: transparent transparent #fff transparent;
    }
    &.bubble-popup {
        color: $text-grey;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
        border: 1px solid #000;
        background: $bg-b;
        font-size: 14px;
        .arrow {
            position: absolute;
        }
        &.bubble-bottom .arrow {
            border-color: transparent transparent $bg-b transparent;
        }
        &.bubble-top .arrow {
            border-right-color: $bg-b;
        }
        .content {
            padding: 20px;
            .operate {
                margin: 20px 0 10px;
                float: right;
                .cancel {
                    background: none;
                    color: #999;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

/* Notification */
#notification_wrap {
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    text-align: center;
    z-index: 999999;
    .error_item {
        background: #ec3c38;
    }
    .warning_item {
        background: #9e2622;
    }
    .info_item {
        background: #148be6;
    }
    .notification_item {
        height: 35px;
        line-height: 35px;
        position: relative;
        padding: 0 30px;
        display: table;
        width: auto;
        clear: both;
        margin: 0 auto;
        .notification_close {
            position: absolute;
            right: 10px;
            font-style: normal;
            cursor: pointer;
        }
        a {
            text-decoration: underline;
            color: #fff;
        }
    }
}

/* Tooltip */
#tooltip_box {
    background: #333;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: #ccc;
    font-size: 12px;
    position: absolute;
    padding: 5px 10px;
    border-radius: 2px;
    z-index: 95;
    max-width: 250px;
    word-wrap: break-word;
}

.warning-bar {
  height        : 80px;
  line-height   : 80px;
  background    : #F8D95C;
  color         : #8B734C;
  text-align    : center;
  border-radius : 2px;
  margin-bottom : 10px;
  flex : 0 0 auto;
  width: 100%;
  &.two-line{
    line-height: 25px;
    padding: 25px 0;
    font-size: 16px;
    height: 100px;
  }
}