/* Style for Violation List, Item, Details */

.vio-rule,
.vio-res {
	font-size : 12px;
	color     : $light-grey;

	@include   font-mono;
}

.rule-name { color: $mint; }
.vio-count { color: $red; }


/* General Violation Resource Style */

.vio-res-item {
	dt,dd {
		display: inline-block;
		padding: 3px 4px;

		border        : 1px solid $blue;
		border-radius : 2px;
	}

	dt {
		border-top-right-radius    : 0;
		border-bottom-right-radius : 0;	
		position                   : relative;
		text-transform             : uppercase;

		background: transparentize($blue, .6);

	}

	dd {
		color  : #fff;
		margin : 0 8px 0 -7px;

		background: transparentize($blue, .8);

		border-top-left-radius    : 0;
		border-bottom-left-radius : 0;
		border-left               : none;

		& + dt:before {
			content    : "";
			position   : absolute;
			display    : inline-block;
			width      : 15px;
			left       : -16px;
			top        : 9px;
			height     : 1px;
			background : $blue;
		}
	}
}

/* Violation Rule & Resource Style for Sumary View */

.vio-rule-item {

	&:before {
		content       : "";
		display       : inline-block;
		width         : 8px;
		height        : 8px;
		border-radius : 50%;
		background    : $red;
		margin-right  : 5px;
	}

	> div {
		display     : inline-block;
		font-size   : 16px;
		height      : 30px;
		line-height : 30px;
	}

	.vio-res { background: lighten($bg-b,2%)};

	.vio-res-item {
		position : relative;
		padding  : 10px 16px;
		width    : 100%;
		overflow : hidden;

		@include transit;

	    &:nth-child(2n) {
			background: rgba(255,255,255,.05);
		}

		&:hover {
			background: lighten($bg-b,8%);
		}

		.btn-vio-detail {
			position   : absolute;
			width      : 66px;
			height     : 66px;
			right      : 0;
			top        : 0;
			background : transparentize($light-b1, .8);

			&:hover {
				background: $light-b1;
			}
		}
	}
}
 
/* Violation Resource Detail View */

.var-name { color: $orange; }
.var-value { color: $green; }
.func-name { color: $yellow; }

.vio-detail .vio-res-item {
	display: table;

	dl { 
		position : relative; 
		display  : table-row;

		&:hover dt,
		&:hover dd,
		&:hover .vio-res-filter {
			box-shadow: 0 0 8px 0 transparentize($blue, .2);
		}
	}
	dl ~ dl dt:before {
			content    : "";
			position   : absolute;
			display    : inline-block;
			width      : 1px;
			left       : 6px;
			top        : -13px;
			height     : 13px;
			background : $blue;
	}

	dt,dd {
		width     : auto;
		max-width : 100%;
		cursor    : pointer;
	}

	dd { 
		margin: 12px 0 0 0; 

		&:first-child { margin-top: 0; }
	}

	.vio-res-filter {
		background  : #000;
		line-height : 24px;
		margin      : -1px 0 0 0;
		padding     : 0 5px;
		border      : 1px solid $blue;
        border-radius : 0 0 2px 2px;
        color         : $light-grey;

        p { marign:0; line-height: 18px;}

	}
}


